<form action='/posts' method="POST">
  <h2>Create a new post</h2>
  <label for="name">Name</label><br>
  <input type="text" name="name" id="name" /><br>
  <label for="content">Content</label><br>
  <input id="content" type="text-area" name="post[content]" /><br>
  <input id="submit" type="submit" />
</form>
